altgraph
MouseInfo
numpy
opencv-python
packaging
pefile
pillow
pip
PyAutoGUI
PyGetWindow
pyinstaller
pyinstaller-hooks-contrib
PyMsgBox
pynput
pyperclip
PyRect
PyScreeze
pytweening
pywin32
pywin32-ctypes
setuptools
six